@model  Services.Model.LessonPlanModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    
    @if (Model.CategoryList.Count > 0)
    {
        foreach (var item in Model.CategoryList)
        {
            <div class="col-md-3"><a href="@Url.Action("Index",@item.controller,new {Id= @item.Id})"><img class="img-responsive img-thumbnail" src="" alt="" />@item.Name</a></div>
        }
    }

</div>


