@model  Services.Model.DigitalResourceModel
@if (Model.CategoryGeneralModelList.Count > 0)
{
    foreach (var i in Model.CategoryGeneralModelList)
    {
        <div class="panel-heading" style="background-color:#0094ff">
            <div class="row">
                <div class="col-md-3">@i.Name (@i.TotalSubList)</div>
                <div class="col-md-3"><a href="@Url.Action("DetailPage",new { id=i.Id})">Display Contents</a></div>
                <div class="col-md-3"><a href="#" class="loadchild" id="@i.Id"><span class="glyphicon glyphicon-plus"></span></a></div>
                <div class="row">
                    <div class="col=md-1"></div>
                    <div class="col=md-8" id="child"></div>
                </div>
            </div>
        </div>
    }
}